{% extends 'base.html.twig' %}

{% block title %}New Operation{% endblock %}

{% block body %}

    {{ include('operation/_form.html.twig') }}

    <a href="{{ path('operation_index') }}">back to list</a>
{% endblock %}
