{% extends 'template.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block main %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h2 class="h3 mb-3 font-weight-normal">Inscrivez-vous</h2>
	{{form(registrationForm)}}

{% endblock %}
