{% extends 'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
<article class="card text-white bg-info my-4 px-0 col-4" style="max-width: 18rem;">
  <div class="card-header text-center"></div>
  <div class="card-header text-center"></div>
  <div class="card-header text-center"></div>
  <div class="card-body bg-white">
    <h5 class="card-title text-warning text-center"></h5>
    <p class="card-text text-dark"></p>
    <div class="text-center">
      <a class="btn btn-warning text-center" href="">Consulter</a>
    </div>
  </div>
</article>
{% endblock %}